# Config file for automatic testing at travis-ci.org
sudo: required
dist: xenial
language: python
cache:
  - pip
  - npm
  - docker

services:
  - docker

language: python
python:
  - 3.7
  - 3.6
  - 3.5

env:
  global:
    secure: Ayptpj0DwwR+c5s6NGWEmwcSdAcH8CmF0si3xFFJP7yY9Ln6098AXpenGwU7GLKIukIe99+noSl3hTwPa8WiNFdrHPmkEGQMnylTCDnBZTvnVvruzNYhJn4oCP8ZHW5mmUxXZoXKzvf76MAjunbHiJKrVofKspbm2lsjZniF9gHSQdVzIaz5QmU1NptIvNGLzNEBE3I5L1NQZBRQpLvouseAGqjweO3y2h4nOGd7Nr4WLeNAOv9J8seVzSmAXRihiXPK6UzLZ8Tn+QCpAoAlpabzn2e3B2X94vsYGckwvB1/wuIt8OYBRV0Cn7ub8AegW+rjW4QMoVZ7cIEPh/qJBZxLhO752crY1bq2DnxzyMr7eDZlthfdxrlWYoiMH26wxGJk0Aa028VKm+pvqNtSAMLxXKVmQ/FiPousbBK05U+71OJYzA4wRCvsE/xGsCpwBH56PDEPXOFX51G+YEEdqpmrFO3MH5f6xEm/TbuzlL1z+gekJgDZndpjPQybQB1vfIlSIGNv2QbBIRF4U4tTxCBa7PSXcEvtOWpI+FIki7h5Dhnhm5HFQGYtcIBVkogNH9VXR1LaR2JDcmI29+MaxDTyCnVpXry7S8/SZPTlGxsvzF57ucajJ5ktZyY1cAgmV+5ZSFFAJHHj04aCZwD7j6RDCmec1FtTdchP3ibwLH4=


  matrix:
    - DJANGO="1.11" CMS="3.4"
    - DJANGO="1.11" CMS="3.5"
    - DJANGO="1.11" CMS="3.6"
    - DJANGO="2.0"  CMS="3.6"
    - DJANGO="2.1"  CMS="3.6"

matrix:
  fast_finish: true
  include:
    - python: 2.7
      env:
        - DJANGO="1.11" CMS="3.4"
    - python: 2.7
      env:
        - DJANGO="1.11" CMS="3.5"
    - python: 2.7
      env:
        - DJANGO="1.11" CMS="3.6"

    - python: 3.6
      env: TOXENV=flake8
      before_install:
        - echo "skip before_install"
      after_success:
        - echo "skip after_success"

    - python: 3.6
      env: TOXENV=docs-create
      before_install:
        - echo "skip before_install"
      after_success:
        - echo "skip after_success"

    - python: 3.6
      env: TOXENV=docs-links
      before_install:
        - echo "skip before_install"
      after_success:
        - echo "skip after_success"

  allow_failures:
    #      this tests are allowed to fail since they rely external resources
    - env: TOXENV=docs-links

before_install:
  - ip addr show
  - printenv
  - npm i
  - npm run publish
  - docker-compose up -d
  - docker-compose ps

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - python -m pip install -U pip>=18.1
  - pip install tox-travis coveralls

# Command to run tests, e.g. python setup.py test
script: tox

after_success:
  - if [ "$DJANGO" == "2.1" ] && [ "$CMS" == "3.6" ] && [ "$TRAVIS_PYTHON_VERSION" == "3.7" ]; then python tests/manage.py test utils.percy_upload; fi
  - ls -la test_screenshots/Chrome
  - coveralls
  - coverage erase

# Assuming you have installed the travis-ci CLI tool, after you
# create the Github repo and add it to Travis, run the
# following command to finish PyPI deployment setup:
# $ travis encrypt --add deploy.password
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: s-weigand
  password:
    secure: PLEASE_REPLACE_ME
  on:
    tags: true
    repo: s-weigand/djangocms_equation
    python: 3.6
