// This is needed to be done with importing 'cms_style_overwrite.css'
// because sass would else first apply katex.css and then append
// the styles in this file.
@import './cms_style_overwrite.scss';
@import '../../node_modules/katex/dist/katex.css';

$break-small: 767px;

body.popup.app-djangocms_equation.model-equationpluginmodel #content-main {
  float: none;
}

#katex_live_render_out {
  grid-area: tex_code_out;
  margin-top: 31px;
}

#content > div.help-container {
  display: flex;

  span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .orientation_selector {
    width: 1rem;
    height: 1rem;
  }
}

#equationpluginmodel_form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas:
    'tex_code_in tex_code_out'
    'advanced advanced';

  @media screen and (max-width: $break-small) {
    grid-template-areas:
      'tex_code_in tex_code_in'
      'tex_code_out tex_code_out'
      'advanced advanced';

    #katex_live_render_out {
      margin-top: -1rem;
    }
  }

  fieldset.tex_code_in {
    grid-area: tex_code_in;
    background-color: green;
    min-width: 15rem;

    label {
      margin-top: 0;
    }
  }

  > fieldset.advanced {
    grid-area: advanced;

    > div.form-row.field-is_inline.field-font_size_value.field-font_size_unit {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      grid-template-rows: auto;
      grid-template-areas: 'is_inline font_size_value font_size_unit';

      @media screen and (max-width: $break-small) {
        grid-template-areas:
          'is_inline is_inline is_inline'
          'font_size_value font_size_value font_size_value'
          'font_size_unit font_size_unit font_size_unit';
      }

      div.field-box,
      div.fieldBox {
        margin-right: 0 !important;
        display: block;

        &.field-is_inline {
          grid-area: is_inline;
        }

        &.field-font_size_value {
          grid-area: font_size_value;
        }

        &.field-font_size_unit {
          grid-area: font_size_unit;
        }
      }
    }

    &.collapsed
      > div.form-row.field-is_inline.field-font_size_value.field-font_size_unit {
      display: none;
    }
  }
}

#equationpluginmodel_form > div.vertical_grid {
  grid-template-areas:
    'tex_code_in tex_code_in'
    'tex_code_out tex_code_out'
    'advanced advanced';

  #katex_live_render_out {
    margin-top: -1rem;
  }

  > fieldset.advanced {
    grid-area: advanced;

    div.form-row.field-is_inline.field-font_size_value.field-font_size_unit {
      grid-template-areas:
        'is_inline is_inline is_inline'
        'font_size_value font_size_value font_size_value'
        'font_size_unit font_size_unit font_size_unit';
    }
  }
}

#equationpluginmodel_form > div.horizontal_grid {
  grid-template-areas:
    'tex_code_in tex_code_out'
    'advanced advanced';

  #katex_live_render_out {
    margin-top: 31px;
  }

  > fieldset.advanced {
    grid-area: advanced;

    div.form-row.field-is_inline.field-font_size_value.field-font_size_unit {
      grid-template-areas: 'is_inline font_size_value font_size_unit';
    }
  }
}

// Overwriting django 2 responsive styles

@media (min-width: $break-small) {
  fieldset .fieldBox + .fieldBox,
  fieldset .field-box + .field-box {
    &.field-font_size_value,
    &.field-font_size_unit {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }
  }
}

@media (max-width: $break-small) {
  fieldset .fieldBox + .fieldBox,
  fieldset .field-box + .field-box {
    &.field-font_size_value,
    &.field-font_size_unit {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #eee;
    }
  }
}

form .form-row:not(tr)::after,
form .form-row:not(tr)::before {
  display: none;
}
