
{% load sekizai_tags static djangocms_equation_tags %}

{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'djangocms_equation/css/change_form_template.css' %}">
{% endaddtoblock %}

{% if request.toolbar and request.toolbar.edit_mode_active or request.toolbar and request.toolbar.edit_mode %}
  {% addtoblock "js" %}
    {% spaceless %}
      <script src="{% static 'djangocms_equation/js/render_equation_edit_mode.js' %}"
              class="cms-execute-js-to-render cms-trigger-event-document-DOMContentLoaded">
      </script>
    {% endspaceless %}
  {% endaddtoblock %}

{% else %}
  {% addtoblock "js" %}
    {% spaceless %}
      <script src="{% static 'djangocms_equation/js/render_equation.js' %}">
      </script>
    {% endspaceless %}
  {% endaddtoblock %}
{% endif %}

{% if katex_allow_copy %}
  {% addtoblock "css" %}
    <link href="{% static 'djangocms_equation/css/copy-tex.min.css' %}" rel="stylesheet" type="text/css">
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="{% static 'djangocms_equation/js/copy_tex.js' %}"></script>
  {% endaddtoblock %}
{% endif %}

<span class="katex {% if instance.is_inline %}inline{% endif %}"
      style="font-size:{{instance.font_size_value|format_float_dot_delimiter}}{{instance.font_size_unit}};">
    ${% if not instance.is_inline %}${% endif %}
        {{instance.tex_code}}
    ${% if not instance.is_inline %}${% endif %}
</span>
